{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": [2, {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "always-multiline"
        }],
        "function-paren-newline": ["error", "consistent"],
        "object-curly-newline": ["error", {"consistent": true}],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "space-before-function-paren": 0,
        "padded-blocks": 0
    },
    "env": {
        "jest": true
    },
}
